<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi tiết hoạt động </title>
  <link rel="stylesheet" href="../static/css/Department.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="../static/js/Header.js"></script>
</head>

<body>
    <div id="header"></div>
    <div class="container">
            <div class="container_head">
                    <div class="container_head_search">
                        <input type="search" class="input_search">
                        <i class="btn_search fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="container_head_add_date">
                        <button id="btn_addDepart">Add</button>
                        <input type="date" class="head_date" data-date="" data-date-format="DD MMMM YYYY" value="2015-08-09">
                    </div>  
                    <div id="dialog_overlay">
                        <div id="dialog_box">
                            <div class="dialog_box_head">
                                    <h5 class="head_name">Add Department</h5>
                                    <i id="close-dialog-btn" class="fa-solid fa-xmark"></i>
                            </div>
                           <div class="dialog_box_body">
                             <div class="dialog_body_item">
                                <div class="dialog_body_item_tilte">Name department:</div>
                                <input type="text" class="txt_name">
                             </div>
                             <div class="dialog_body_item">
                                <div class="dialog_body_item_tilte">Time Rule:</div>
                                <input type="text" class="txt_timeRule">
                             </div>
                           </div>
                           <button class="add_department">Add Department</button>
                        </div>
                    </div>
            </div>
            <div class="table-container">
                <table>
                        <thead>
                            <tr class="tr_head">
                                <th>Department</th>
                                <th>Time_Rule</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    
                    <tbody>
                        <tr class="table_department">
                            <td class="col_depart"><div>Management</div></td>
                            <td class="col_depart">7h30p</td>
                            <td class="col_depart">
                                <div class="btn_edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <span>Edit</span>
                                </div>
                            </td>
                            <td class="col_depart">
                                <div class="btn_del">
                                    <i class="fa-solid fa-xmark"></i>
                                    <span>Delete</span>
                                </div> 
                            </td>
                        </tr>  
                        <tr class="table_department">
                            <td class="col_depart"><div>Design</div></td>
                            <td class="col_depart">7h15</td>
                            <td class="col_depart">
                                <div class="btn_edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <span>Edit</span>
                                </div>
                            </td>
                            <td class="col_depart">
                                <div class="btn_del">
                                    <i class="fa-solid fa-xmark"></i>
                                    <span>Delete</span>
                                </div> 
                            </td>
                        </tr>  
                        <tr class="table_department">
                            <td class="col_depart"><div>Development</div></td>
                            <td class="col_depart">8h</td>
                            <td class="col_depart">
                                <div class="btn_edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <span>Edit</span>
                                </div>
                            </td>
                            <td class="col_depart">
                                <div class="btn_del">
                                    <i class="fa-solid fa-xmark"></i>
                                    <span>Delete</span>
                                </div> 
                            </td>
                        </tr>  
                        <div id="dialog_overlay_edit">
                            <div id="dialog_box_edit">
                                <div class="dialog_box_head">
                                        <h5 class="head_name">Edit Department</h5>
                                        <i id="close-dialog-edit-btn" class="fa-solid fa-xmark"></i>
                                </div>
                               <div class="dialog_box_body">
                                 <div class="dialog_body_item">
                                    <div class="dialog_body_item_tilte">Name department:</div>
                                    <input type="text" class="txt_name">
                                 </div>
                                 <div class="dialog_body_item">
                                    <div class="dialog_body_item_tilte">Time Rule:</div>
                                    <input type="text" class="txt_timeRule">
                                 </div>
                               </div>
                               <button id="edit_department">Edit Department</button>
                            </div>
                        </div>
                    </tbody>
                    
                </table>
            </div>
        
    </div>  
</body>
<script src="../static/js/Department.js"></script>
<!-- <script src="../static/js/Header.js"></script> -->
</html>