<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết hoạt động</title>
    <link rel="stylesheet" href="../static/css/Department.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="../static/js/Header.js"></script>
  </head>

  <body>
    <div id="header"></div>
    <div class="container">
      <div class="container_shift">
        <div class="sub_shift">
          <div class="sub_shift_name">Ca sáng:</div>
          <input
            type="text"
            value="7h"
            class="textview_shift"
            id="txt_shift_in1"
            readonly
          />
          <input
            type="text"
            value="11h"
            class="textview_shift"
            id="txt_shift_out1"
            readonly
          />
          <i
            class="fa-solid fa-pen-to-square"
            id="btn_edit_shift_in1"
            title="Edit"
          ></i>
          <i
            class="fa-solid fa-floppy-disk"
            id="btn_save_shift_out1"
            title="Save"
          ></i>
        </div>
        <div class="sub_shift">
          <div class="sub_shift_name">Ca chiều:</div>
          <input
            type="text"
            value="13h"
            class="textview_shift"
            id="txt_shift_in2"
            readonly
          />
          <input
            type="text"
            value="17h"
            class="textview_shift"
            id="txt_shift_out2"
            readonly
          />
          <i
            class="fa-solid fa-pen-to-square"
            id="btn_edit_shift_in2"
            title="Edit"
          ></i>
          <i
            class="fa-solid fa-floppy-disk"
            id="btn_save_shift_out2"
            title="Save"
          ></i>
        </div>
      </div>
      <div class="container_employee">
        <div class="container_employee_menu">
          <div class="container_list_department">
            <div class="item_department item_choose">Management</div>
            <div class="item_department">Design</div>
            <div class="item_department">Development</div>
          </div>
          
         
        </div>

        <div class="container_employee_list">
          <div class="container_employee_list_head">
            <div id="btn_add_employee">Add Employee</div>
            <div class="dropdown">
              <i class="fa-solid fa-ellipsis-vertical" id="btn_more_department"></i>
              <div class="dropdown-content-department" id="dropdown_department">
                <a href="#" id="dialog_add_department">Add</a>
                <a href="#" id="dialog_edit_department">Edit</a>
                <a href="#" id="delete_department">Delete</a>
              </div>
            </div>
          </div>
         
          <div class="list_employee_row">
            <div class="item_employee">
              <img src="../Img/avatar.jfif" alt="" class="item_employee_ava" />
              <div class="item_employee_name">Phạm Phương Anh</div>
            </div>
            <div class="item_employee">
              <img src="../Img/avatar.jfif" alt="" class="item_employee_ava" />
              <div class="item_employee_name">Văn Thị Bạch Dương</div>
            </div>
            <div class="item_employee">
              <img src="../Img/avatar.jfif" alt="" class="item_employee_ava" />
              <div class="item_employee_name">Nguyễn Thị Lê</div>
            </div>
            <div class="item_employee">
              <img src="../Img/avatar.jfif" alt="" class="item_employee_ava" />
              <div class="item_employee_name">Lê Chí Dũng</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Dialog information of employee -->
    <div id="dialog_overlay_info_employee">
      <div id="dialog_box_info_employee">
        <div class="dialog_box_head_info_employee">
          <div class="dialog_box_head_name_info_employee">
            <h5 class="head_name_info_employee">Bạch Dương</h5>
            <div class="head_major_info_employee">UI Designer</div>
          </div>
          <div class="img_close">
            <img id="img_dialog_employee" src="../Img/ava.jpg" alt="" />
            <i id="btn_close_employee" class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="dialog_box_body_info_employee">
          <div class="dialog_body_item_info_employee">
            <div class="dialog_body_item_tilte_info_employee">Email:</div>
            <div class="dialog_body_item_content_employee">
              bachduongvan0402@gmail.com
            </div>
          </div>
          <div class="dialog_body_item_info_employee">
            <div class="dialog_body_item_tilte_info_employee">
              Mobile phone:
            </div>
            <div class="dialog_body_item_content_employee">0914136584</div>
          </div>
          <div class="dialog_body_item_info_employee">
            <div class="dialog_body_item_tilte_info_employee">
              Date of birth:
            </div>
            <div class="dialog_body_item_content_employee">04-02-2003</div>
          </div>
          <div class="dialog_body_item_info_employee">
            <div class="dialog_body_item_tilte_info_employee">Gender:</div>
            <div class="dialog_body_item_content_employee">Female</div>
          </div>
          <div class="dialog_body_item_info_employee">
            <div class="dialog_body_item_tilte_info_employee">EmployeeID:</div>
            <div class="dialog_body_item_content_employee">user42</div>
          </div>
          <div class="dialog_body_item_info_employee">
            <div class="dialog_body_item_tilte_info_employee">Degisnation:</div>
            <div class="dialog_body_item_content_employee">UI Designer</div>
          </div>
          <div class="dialog_body_item_info_employee">
            <div class="dialog_body_item_tilte_info_employee">Department:</div>
            <div class="dialog_body_item_content_employee">Design</div>
          </div>
        </div>
        <button id="btn_edit_profile">Edit profile</button>
      </div>
    </div>

    <!-- Dialog add employee -->
    <div id="dialog_overlay_add_employee">
      <div id="dialog_box_add_employee">
        <div class="dialog_box_head_add_employee">
          <div class="dialog_box_head_name_add_employee">
            <h5 class="head_name_add_employee">Add employee</h5>
          </div>
          <div class="img_close">
            <!-- <img id="img_dialog_add_employee" src="../Img/ava.jpg" alt="" /> -->
            <i id="btn_close_add_employee" class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="dialog_box_body_add_employee">
          <div class="dialog_body_item_add_employee">
            <div class="dialog_body_item_tilte_add_employee">Image:</div>
            <div class="dialog_body_item_emloyee_avatar">
              <!-- <img src="../Img/image_default.webp" alt="" id="add_avatar" title="Change the avatar" onclick="changeAvatar()"> -->
              <img src="../Img/image_default.webp" alt="" id="add_avatar" title="Change the avatar" onclick="chooseAvatar()">
              <input type="file" id="avatar_input" style="display: none;" accept="image/*" onchange="uploadAvatar(event)">
            </div>
          </input>
          </div>
          <div class="dialog_body_item_add_employee">
            <div class="dialog_body_item_tilte_add_employee">Email:</div>
            <input class="dialog_body_item_content_add_employee" type="text" placeholder="nguyenvana@gmail.com">
          </input>
          </div>
          <div class="dialog_body_item_add_employee">
            <div class="dialog_body_item_tilte_add_employee">Mobile phone:</div>
            <input class="dialog_body_item_content_add_employee" type="text" placeholder="0914136584"></input>
          </div>
          <div class="dialog_body_item_add_employee">
            <div class="dialog_body_item_tilte_add_employee">
              Date of birth:
            </div>
            <input class="dialog_body_item_content_add_employee" type="date" placeholder="yyyy-mm-dd" value="2003-02-04"></input>
          </div>
          <div class="dialog_body_item_add_employee">
            <div class="dialog_body_item_tilte_add_employee">Gender:</div>
            <select class="dialog_body_item_content_add_employee">
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
          </div>
          <div class="dialog_body_item_add_employee">
            <div class="dialog_body_item_tilte_add_employee">Degisnation:</div>
            <input class="dialog_body_item_content_add_employee" type="text" placeholder="UI Designer"></input>
          </div>
        </div>
        <button id="save_profile">Save</button>
      </div>
    </div>
    <!-- Dialog add Department -->
    <div id="dialog_overlay_add_department">
      <div id="dialog_box_add_department">
          <div class="dialog_box_head_add_department">
                  <h5 class="head_name_add_department">Add Department</h5>
                  <i id="close-dialog-add-btn" class="fa-solid fa-xmark"></i>
          </div>
         <div class="dialog_box_body_add_department">
           <div class="dialog_body_item_add_department">
              <div class="dialog_body_item_tilte_add_department">Name department:</div>
              <input type="text" class="txt_name_department">
           </div>
         </div>
         <button id="add_department">Save</button>
      </div>
  </div>
  <div id="dialog_overlay_edit_department">
    <div id="dialog_box_edit_department">
        <div class="dialog_box_head_edit_department">
                <h5 class="head_name_edit_department">Edit Department</h5>
                <i id="close-dialog-edit-btn" class="fa-solid fa-xmark"></i>
        </div>
       <div class="dialog_box_body_edit_department">
         <div class="dialog_body_item_edit_department">
            <div class="dialog_body_item_tilte_edit_department">Name department:</div>
            <input type="text" class="txt_name_department_edit">
         </div>
       </div>
       <button id="edit_department">Save</button>
    </div>
</div>
  </body>

  <script src="../static/js/Department.js"></script>
  <!-- <script src="../static/js/Header.js"></script> -->
</html>
