<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="top-footer">
        <p>INSOMNIA .</p>
      </div>
      <div class="middle-footer">
        <ul class="footer-menu">
          <li class="footer_menu_list">
            <a href="#home">Home</a>
          </li>
          <li class="footer_menu_list">
            <a href="#about">About</a>
          </li>
          <li class="footer_menu_list">
            <a href="#education">Experiences</a>
          </li>
          <li class="footer_menu_list">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer-social-icons">
        <div class="icon">
          <a href="https://www.instagram.com/dilysnguyen23/"
            ><i class="uil uil-instagram"></i
          ></a>
        </div>
        <div class="icon">
          <a href="https://www.linkedin.com/in/your-linkedin-profile/"
            ><i class="uil uil-linkedin-alt"></i
          ></a>
        </div>
        <div class="icon">
          <a href="https://www.facebook.com/profile.php?id=100016345395566"
            ><i class="uil uil-facebook"></i
          ></a>
        </div>
      </div>
      <div class="bottom-footer">
        <p>
          Copyright &copy;
          <a href="#home" style="text-decoration: none">INSOMNIA</a> - All
          rights reserved
        </p>
      </div>
    </footer>
  </body>
</html>
