<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi tiết hoạt động </title>
  <link rel="stylesheet" href="../static/css/HomePage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <div  class="container">
        <div class="header"></div>
        <div class="introduce">
          <div class="introduce_left">
            <h4 class="introduce_left_name">Employee Attendance Website</h4>
            <div id="introduce_left_descrip">The time management system is a technological solution that helps businesses efficiently record and 
              track employees' working hours. It is a crucial component of human resources and financial management, aiding organizations in saving
               time, enhancing transparency, and reducing errors in payroll calculations.</div>
               <button class="btn">
                <div>GET STARTED</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" fill="none">
              <path d="M11.6801 14.62L14.2401 12.06L11.6801 9.5" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M4 12.0601H14.17" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M12 4C16.42 4 20 7 20 12C20 17 16.42 20 12 20" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              </button>
          </div>
          <div class="introduce_right">
            <img id="img_introduce" src="../Img/introduce.png" alt="">
          </div>
        </div>
        <div class="overview">
            <div class="overview_connect">
              <img class="overview_image" src="../Img/connect.jfif" alt="">
              <h5 class="overview_name">Connect</h5>
              <div class="overview_descrip">The connectivity within the company's time management 
                system facilitates streamlined operations, transparent collaboration, and accurate 
                payroll processes, enhancing overall organizational efficiency.</div>
            </div>
            <div class="overview_merge">
              <img class="overview_image" src="../Img/merge.jfif" alt="">
              <h5 class="overview_name">Merge</h5>
              <div class="overview_descrip">The company's time management system incorporates "Merge"
                with facial recognition, streamlining clock-in processes and ensuring accuracy through
                  facial identification.</div>
            </div>
            <div class="overview_work">
              <img class="overview_image" src="../Img/work.jfif" alt="">
              <h5 class="overview_name">Work</h5>
              <div class="overview_descrip">The company's time management system streamlines employee
                work hours logging and enhances communication, optimizing overall workplace efficiency.</div>
            </div>
        </div>
        <div class="introduce_ai">
          <img class="introduce_ai_image" src="../Img/overview.png" alt="" />

          <div class="introduce_ai_right">
              <h4 class="introduce_ai_right_name">
                Utilizing AI and facial recognition for efficient attendance management.
              </h4>
              <div class="introduce_ai_right_descrip">
                Implementing a sophisticated system that combines AI and facial recognition 
                to precisely recognize and authenticate employees' faces. This comprehensive 
                solution not only simplifies the attendance tracking process but also enables
                efficient payroll calculation by accurately capturing work hours. The technology
                  ensures a secure and reliable method for employee check-ins, contributing 
                  to a streamlined and error-free payroll system. Embracing this advanced approach
                  enhances overall workforce management, fostering a more efficient and automated 
                  HR process.
              </div>
          </div>
        </div>
        <div class=" statistics">
            <div class="statistics_left">
              <div class="banner_1">
                Helping a local
              </div>
              <div class="banner_2"> business reinvent itself</div>
              <div class="banner_3">We reached here with our hard work and dedication</div>
            </div>
            <div class="stactistics_right">
              <div class="stactistics_right_1">
                <div class="stactistics_right_employee">
                  <img src="../Img/employee.png" alt="">
                  <div class="employee">
                    <b class="stactistics_right_employee_number">500</b>
                    <div class="stactistics_right_employee_name">Employees</div>
                  </div>
                </div>
                <div class="stactistics_right_department">
                  <img src="../Img/department.png" alt="">
                  <div class="department">
                    <b class="stactistics_right_department_number">12</b>
                  <div class="stactistics_right_department_name">Departments</div>
                  </div>
                </div>
              </div>
              <div class="stactistics_right_2">
                <div class="stactistics_right_booking">
                  <img src="../Img/booking.png" alt="">
                  <div class="booking">
                    <b class="stactistics_right_booking_number">828,867</b>
                  <div class="stactistics_right_booking_name">Event Bookings</div>
                  </div>
                </div>
                <div class="stactistics_right_payment">
                  <img src="../Img/payment.png" alt="">
                  <div class="payment">
                    <b class="stactistics_right_payment_number">1,926,436</b>
                    <div class="stactistics_right_payment_name">Payments</div>
                  </div>         
                </div>
              </div>
              
            </div>
        </div>
    </div>
        
</body>

</html>