<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="../static/css/MainPage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      href="assets/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <title>INSOMNIA</title>
    <link rel="shortcut icon" type="image/x-icon" href="../Img/logo.svg" />
  </head>

  <body>
    <div class="container">
      <nav id="header">
        <div class="nav-logo">
          <img src="../Img/logo.svg" />
          <img src="../Img/logo-name.svg" class="logo-name" />
        </div>
        <div class="nav-menu" id="myNavMenu">
          <ul class="nav_menu_list">
            <li class="nav_list">
              <a href="#home" class="nav-link active-link">Home</a>
              <div class="circle"></div>
            </li>
            <li class="nav_list">
              <a href="#about" class="nav-link">About</a>
              <div class="circle"></div>
            </li>
            <li class="nav_list">
              <a href="#education" class="nav-link">Experiences</a>
              <div class="circle"></div>
            </li>
            <li class="nav_list">
              <a href="#contact" class="nav-link">Contact</a>
              <div class="circle"></div>
            </li>
          </ul>
        </div>
        <div class="nav-button">
          <button class="btn login" id="login">Login</button>
          <div class="dialog-overlay" id="dialogOverlay">
            <div class="dialog-box">
              <div class="dialog-title">
                <h2 class="title">Login with your account</h2>
                <i class="fa-solid fa-xmark" id="btn_close_dialog"></i>
              </div>

              <div class="dialog-body">
                <div class="form-group">
                  <label for="dialog-login-email" class="dialog-label"
                    >Email</label
                  >
                  <div class="input-group">
                    <input
                      type="email"
                      id="dialog-login-email"
                      placeholder="Email address"
                    />
                    <i class="fa-solid fa-envelope icon_email"></i>
                  </div>
                </div>
                <div class="form-group">
                  <label for="dialog-password" class="dialog-label"
                    >Password</label
                  >
                  <div class="input-group">
                    <input
                      type="password"
                      pattern=".{8,}"
                      id="dialog-password"
                      placeholder="Your password"
                    />

                    <i
                      class="fa-solid fa-eye"
                      id="icon_eye"
                      onclick="myFunction()"
                    ></i>
                  </div>
                </div>
                <div class="form-group2">
                  <div class="space"></div>
                  <p class="help-text">At least 8 characters</p>
                </div>
                <div class="form-group3">
                  <div class="space"></div>
                  <div class="selection-rule">
                    <input
                      type="radio"
                      id="rule_admin"
                      name="selec-rule"
                      value="Admin"
                    />
                    <label for="rule_admin">Admin</label><br />

                    <input
                      type="radio"
                      id="rule_employee"
                      name="selec-rule"
                      value="Employee"
                    />
                    <label for="rule_employee">Employee</label><br />
                  </div>
                </div>

                <button type="submit" id="btn-submit">Login</button>
                <a href="#" id="forgot_pass">Forgot password?</a>
                <p>
                  I don't have an account.
                  <a id="btn_register">Register</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="dialog-overlay-register" id="dialogOverlayRegister">
          <div class="dialog-box-register">
            <div class="dialog-title">
              <h2 class="title">Create new account</h2>
              <i class="fa-solid fa-xmark" id="btn_close_dialog_register"></i>
            </div>
            <div class="dialog-body">
              <div class="form-group">
                <label for="username" class="dialog-label-register"
                  >Username</label
                >
                <div class="input-group">
                  <input type="text" id="name" placeholder="User name" />
                  <i class="bx bx-user"></i>
                </div>
              </div>
              <div class="form-group">
                <label for="dialog-login-email" class="dialog-label-register"
                  >Email</label
                >
                <div class="input-group">
                  <input
                    type="email"
                    id="dialog-register-login-email"
                    placeholder="Email address"
                  />
                  <i class="fa-solid fa-envelope icon_email"></i>
                </div>
              </div>
              <div class="form-group">
                <label for="dialog-password" class="dialog-label-register"
                  >Password</label
                >
                <div class="input-group">
                  <input
                    type="password"
                    pattern=".{8,}"
                    id="dialog-register-password"
                    placeholder="Your password"
                  />
                  <i
                    class="fa-solid fa-eye"
                    id="icon_eye_regis"
                    onclick="hideShowPass()"
                  ></i>
                </div>
              </div>
              <div class="form-group-register">
                <div class="space-regis"></div>
                <p class="help-text">At least 8 characters</p>
              </div>
              <div class="form-group">
                <label for="confirm-pass" class="dialog-label-register"
                  >Confirm password</label
                >
                <div class="input-group">
                  <input
                    type="password"
                    pattern=".{8,}"
                    id="dialog-confirm-pass"
                    placeholder="Enter password again"
                  />
                  <i
                    class="fa-solid fa-eye"
                    id="icon_eye_confirm"
                    onclick="hideShowConfirm()"
                  ></i>
                </div>
              </div>
              <div class="form-group-register">
                <div class="space-regis"></div>
                <p class="help-text">
                  Confirm password must be same with password
                </p>
              </div>
              <button type="submit" id="btn-submit-register">Register</button>
              <p>
                I already have an account.
                <a id="btn_login">Login</a>
              </p>
            </div>
          </div>
        </div>

        <div class="nav-menu-btn">
          <i class="uil uil-bars" onclick="myMenuFunction()"></i>
        </div>
      </nav>
      <!-- -------------- MAIN ---------------- -->
      <main class="wrapper">
        <!-- -------------- FEATURED BOX ---------------- -->
        <section class="featured-box" id="home">
          <div class="featured-text">
            <div class="featured-text-card">
              <span>INSOMNIA</span>
            </div>
            <div class="feature-left">
              <div class="featured-name">
                <p>I'm <span class="typedText"></span></p>
              </div>
              <div class="featured-text-info">
                <p>
                  The time management system is a technological solution that
                  helps businesses efficiently record and track employees'
                  working hours. It is a crucial component of human resources
                  and financial management, aiding organizations in saving time,
                  enhancing transparency, and reducing errors in payroll
                  calculations.
                </p>
              </div>

              <div class="social_icons">
                <div class="icon">
                  <a href=""><i class="uil uil-instagram"></i></a>
                </div>
                <div class="icon">
                  <a href=""><i class="uil uil-linkedin-alt"></i></a>
                </div>
                <div class="icon">
                  <a href=""><i class="uil uil-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="featured-image">
            <div class="home-img">
              <img src="../Img/home.svg" alt="avatar" />
            </div>
          </div>
          <div class="scroll-icon-box">
            <a href="#about" class="scroll-btn">
              <i class="uil uil-mouse-alt"></i>
              <p>Scroll Down</p>
            </a>
          </div>
        </section>
        <!-- -------------- ABOUT BOX ---------------- -->
        <section class="section" id="about">
          <div class="top-header">
            <h1>About Me</h1>
          </div>
          <div class="row">
            <div class="col">
              <div class="skills-box">
                <img src="../Img/imgconect.svg" alt="" />
                <div class="skills-header">
                  <h3>Connect</h3>
                </div>
                <div class="skills-list">
                  <p>
                    The connectivity within the company's time management system
                    facilitates streamlined operations, transparent
                    collaboration, and accurate payroll processes, enhancing
                    overall organizational efficiency.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="skills-box">
                <img src="../Img/imgmerge.svg" alt="" />
                <div class="skills-header">
                  <h3>Merge</h3>
                </div>
                <div class="skills-list">
                  <p>
                    The company's time management system incorporates "Merge"
                    with facial recognition, streamlining clock-in processes and
                    ensuring accuracy through facial identification.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="skills-box">
                <img src="../Img/imgwork.svg" alt="" />
                <div class="skills-header">
                  <h3>Work</h3>
                </div>
                <div class="skills-list">
                  <p>
                    The company's time management system streamlines employee
                    work hours logging and enhances communication, optimizing
                    overall workplace efficiency.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="featured-box" id="explore">
          <div class="featured-image">
            <div class="home-img">
              <img src="../Img/exper.svg" alt="avatar" />
            </div>
          </div>
          <div class="featured-text">
            <div class="featured-text-card">
              <span>INSOMNIA</span>
            </div>
            <div class="featured-name">
              <p>
                Utilizing AI and facial recognition for efficient attendance
                management.
              </p>
            </div>
            <div class="featured-text-info">
              <p>
                Implementing a sophisticated system that combines AI and facial
                recognition to precisely recognize and authenticate employees'
                faces. This comprehensive solution not only simplifies the
                attendance tracking process but also enables efficient payroll
                calculation by accurately capturing work hours. The technology
                ensures a secure and reliable method for employee check-ins,
                contributing to a streamlined and error-free payroll system.
                Embracing this advanced approach enhances overall workforce
                management, fostering a more efficient and automated HR process.
              </p>
            </div>
          </div>
        </section>

        <!-- -------------- CONTACT BOX ---------------- -->
        <section class="section" id="contact">
          <div class="top-header">
            <h1>Get in touch</h1>
            <span>Do you have a project in your mind, contact me here</span>
          </div>
          <div class="row">
            <div class="col">
              <div class="contact-info">
                <h2>Find Me <i class="uil uil-corner-right-down"></i></h2>
                <p>
                  <i class="uil uil-envelope"></i> Email:
                  insomnia.company@gmail.com
                </p>
                <p><i class="uil uil-phone"></i> Tel: +84 768 816 381</p>
              </div>
            </div>
            <div class="col">
              <div class="form-control">
                <form
                  id="myForm"
                  action="https://api.web3forms.com/submit"
                  method="POST"
                  onsubmit="return validateForm()"
                >
                  <div class="form-inputs">
                    <input
                      type="hidden"
                      name="access_key"
                      value="51af8799-cfe2-4a75-abb9-9664f3b7254e"
                    />
                    <input
                      name="name"
                      required
                      type="text"
                      class="input-field"
                      placeholder="Name"
                    />
                    <input
                      type="text"
                      name="email"
                      required
                      class="input-field"
                      placeholder="Email"
                    />
                  </div>
                  <div class="text-area">
                    <textarea
                      name="message"
                      required
                      placeholder="Message"
                    ></textarea>
                  </div>
                  <div class="form-button">
                    <button class="btn" type="submit">
                      Send <i class="uil uil-message"></i>
                    </button>
                  </div>
                  <span
                    id="emailError"
                    style="color: red; font-size: 12px"
                  ></span>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- --------------- FOOTER --------------- -->
      <footer>
        <div class="top-footer">
          <p>INSOMNIA .</p>
        </div>
        <div class="middle-footer">
          <ul class="footer-menu">
            <li class="footer_menu_list">
              <a href="#home">Home</a>
            </li>
            <li class="footer_menu_list">
              <a href="#about">About</a>
            </li>
            <li class="footer_menu_list">
              <a href="#education">Experiences</a>
            </li>
            <li class="footer_menu_list">
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer-social-icons">
          <div class="icon">
            <a href="https://www.instagram.com/dilysnguyen23/"
              ><i class="uil uil-instagram"></i
            ></a>
          </div>
          <div class="icon">
            <a href="https://www.linkedin.com/in/your-linkedin-profile/"
              ><i class="uil uil-linkedin-alt"></i
            ></a>
          </div>
          <div class="icon">
            <a href="https://www.facebook.com/profile.php?id=100016345395566"
              ><i class="uil uil-facebook"></i
            ></a>
          </div>
        </div>
        <div class="bottom-footer">
          <p>
            Copyright &copy;
            <a href="#home" style="text-decoration: none">INSOMNIA</a> - All
            rights reserved
          </p>
        </div>
      </footer>
    </div>

    <!-- ----- TYPING JS Link ----- -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <!-- ----- SCROLL REVEAL JS Link----- -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- ----- MAIN JS ----- -->
    <<<<<<< HEAD
    <script src="../static/js/homepage.js   "></script>
    <script src="../static/js/MainPage.js"></script>
    =======
    <script src="../static/js/MainPage.js"></script>

    >>>>>>> f46faf9148ee4ddb4a2f352736f197eb08312b9d
  </body>
</html>
