<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết hoạt động</title>
    <link rel="stylesheet" href="../static/css/PermisionPage.css" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
  </head>

  <body>
    <div id="header"></div>
    <div class="container">
      <div class="table_container">
        <div class="table_header">
            <div class="container_department_head_search">
                <input type="search" placeholder="Employee" class="search-input" />
                <button type="button" class="search-button">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            <div class="table_head_left">
                <input
                id="bday-month"
                type="month"
                name="bday-month"
                value="2024-05"
              />
              <div class="select_permision_status">
                <select class="permision_status">
                  <option value="status_approved">Approved</option>
                  <option value="status_pending">Pending</option>
                  <option value="status_reject">Reject</option>
                  <option value="status_all">All</option>
                </select>
              </div>
            </div>
        </div>
        <div class="table_body">
            <div class="table_body_title">
                <div class="col_permision">Name</div>
                <div class="col_permision">Department</div>
                <div class="col_permision">Request Date</div>
                <div class="col_permision">Reason for Leave</div>
                <div class="col_permision">Status</div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../static/js/PermisionPage.js"></script>
  <script src="../static/js/Header.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</html>
