body {
  background-color: #f5fbff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px;
  height: 70px;
  line-height: 70px;
}
.container {
  margin-top: 100px;
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100vw- 40px);
  gap: 30px;
}
.container_head {
  display: flex;
  gap: 30px;
  margin: 20px 80px;
}
.dashboard_column {
  width: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px;
  border-radius: 5px;
  background-color: white;
  height: 35%;
  margin-bottom: 20px;
}
.container_shift {
  width: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px;
  border-radius: 5px;
  background-color: white;
  height: 25%;
}
.dashboard_high_rate {
  width: 30%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px;
  border-radius: 5px;
  background-color: white;
  height: 260px;
  padding: 10px 20px;
}
.dashboard_high_rate_title {
  color: #1967d9;
  font-size: 15px;
  font-weight: 500;
}
.img_ava {
  width: 25px;
  height: 25px;
  border-radius: 90px;
}
.item_high_rate {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 10px;
}
.item_number_high_rate,
.item_high_rate_name {
  font-size: 15px;
}
.item_high_rate_right,
.item_high_rate_left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.fa-solid.fa-triangle-exclamation.status_verified {
  color: #3d8bfd;
}
.fa-solid.fa-triangle-exclamation.item-warning {
  color: #fc1414;
}
/* -----------------------------Absence request List----------------- */
.container_body {
  margin: 30px 80px;
  display: flex;
  gap: 30px;
}
.container_body_left {
  width: 70%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px;
  border-radius: 5px;
  background-color: white;
  height: 310px;
}
.container_body_right {
  width: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px;
  border-radius: 5px;
  background-color: white;
  height: 40%;
  padding: 10px 20px 30px 20px;
  margin-bottom: 20px;
}
.container_body_right_content {
  margin-top: 3px;
  overflow-y: auto;
  max-height: 80%;
}

.container_body_right_content::-webkit-scrollbar {
  width: 0px;
}

.container_body_right_content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container_body_right_content::-webkit-scrollbar-thumb {
  background: #888;
}

.container_body_right_content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.head_left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container_body_right_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.options {
  background-color: #c7fff1;
  border: none;
  outline: none;
  padding: 2px 10px;
  border-radius: 5px;
  color: #0086ca;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
.container_body_right_head i {
  color: #1967d9;
  font-size: 20px;
  display: flex;
}
.item_employee {
  padding: 5px 7px 5px 5px;
  border-radius: 10px;
  background-color: #cef6ef;
  margin-bottom: 12px;
  cursor: pointer;
}
.item_employee_head {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  padding: 3px 10px;
}
.wrap_img_name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.item_employee_name {
  font-size: 13px;
}
.fa-solid.fa-chevron-down {
  color: #9a9a9a;
}
.item_employee_absent {
  display: none;
  transition: all 0.7s ease;
}
.sub_absent {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 2px 20px;
}
.sub_absent_date {
  font-size: 13px;
}
.sub_absent:hover {
  background-color: #b7e7db;
}
.status_pending {
  color: #19d943;
}
.status_verified {
  color: #1967d9;
}
.status_unverified {
  color: #fc1414;
}
.item_employee_absent.active {
  display: block;
}

/* -------------------------------------- Time Shift--------------------------------- */
.sub_shift {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}
.sub_shift_title {
  width: 30%;
  font-weight: bold;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
}
.sub_shift_name {
  width: 30%;
  font-size: 12.5px;
}
.icon_edit {
  width: 10%;
}
.textview_shift {
  border: none;
  text-align: center;
  outline: none;
  display: flex;
  width: 30%;
}
#btn_save_shift_out2,
#btn_save_shift_out1,
#btn_edit_shift_in1,
#btn_edit_shift_in2 {
  color: #0086ca;
  font-size: 18px;
  margin: auto 0;
  cursor: pointer;
  width: 10%;
}
/* ------------------------table attendance-------------- */
.head_date {
  border-radius: 5px;
  color: var(--btn-blue);
  width: 8rem;
  text-align: center;
  border: none;
  outline: none;
  color: #0086ca;
  cursor: pointer;
  padding: 5px 5px;
  background-color: #eef06a;
  margin: 10px 0;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 8px;
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
  background-color: #1967d9;
  color: #1967d9 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
} */
.container_body_left_head {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 10%;
}
.container_body_left_body {
  padding-top: 20px;
  height: 90%;
}
.department_options {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 8px;
  color: #0086ca;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
}
.status_options {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 8px;
  color: #0086ca;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #c7fff1;
}

.container_left {
  width: 70%;
  height: calc(100vh - 120px);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 8px;

  background-color: white;
}
.container_right {
  width: 30%;
  height: calc(100vh - 160px);
}
.table_title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.name_title {
  font-size: 15px;
  color: #1f739d;
  font-weight: 500;
  width: 20%;
}

.depart_employ,
.wrap_time_shift_in,
.wrap_time_shift_out,
.wrap_status_employ,
.name_employ {
  font-size: 13px;
  width: 20%;
}
.wrap_status_employ {
  display: flex;
  justify-content: center;
}
.item_employ {
  display: flex;
  padding: 5px 0;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.item_employ:hover {
  background-color: #f1f1f1;
}
.name_shift {
  color: #b7b7b7;
}
.table_content {
  overflow-y: auto;
  max-height: 90%;
}
.status_employ {
  background-color: #c7fff1;
  width: 100px;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  color: #0086ca;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 4px;
}

.status_employ_absent {
  background-color: #e55662;
  width: 100px;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  color: #fafafa;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 4px;
}

.table_content::-webkit-scrollbar {
  width: 0px;
}

.table_content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table_content::-webkit-scrollbar-thumb {
  background: #888;
}

.table_content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* -----------------------Dialog for employee------------------------ */
#dialog_overlay_for_employee {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

#dialog_box_for_employee {
  background-color: #ebf8f6;
  width: 45rem;
  height: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 40px 40px;
}
.dialog_box_head_for_employee {
  height: 35%;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
}
.image_for_employ {
  width: 70px;
  height: 70px;
  border-radius: 90px;
}
.row_one {
  display: flex;
  padding: 10px 20px;
}
.wrap_img_position {
  width: 15%;
}
.wrap_name_position {
  width: 35%;
  padding-top: 15px;
  text-align: center;
  align-items: center;
}

.name_for_employ {
  font-size: 17px;
  font-weight: 500;
}
.depart_for_employ,
.shift_for_employ,
.position_for_employ {
  font-size: 15px;
  color: #b7b7b7;
}
.row_two {
  display: flex;
  padding: 20px 20px 5px 20px;
}
.wrap_time_shift {
  width: 33.33%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.wrap_time_shift i {
  font-size: 20px;
  color: white;
  padding: 6px;
  border-radius: 5px;
}
.fa-regular.fa-clock {
  background-color: #a1ffbc;
}
.fa-regular.fa-user {
  background-color: #3d8bfd;
}

.fa-solid.fa-power-off {
  background-color: #ffb74d;
}
.title-time {
  font-size: 12px;
}
.shift-time {
  font-size: 12px;
  color: #b7b7b7;
}
.dialog_box_body_for_employee {
  margin-top: 30px;
  padding: 0 20px;
  height: 60%;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
}
#chartForEmployee {
  width: 100%;
}
/* -------------------Dialog accept permission-------------- */
#dialog_overlay_permission_form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
#dialog_box_permission_form {
  background-color: white;
  width: 35%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.dialog_box_head_permission_form {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 50px;
  background-color: #cef6ef;
  border-radius: 5px;
  height: 17%;
}
.head_name_permission {
  font-size: 20px;
  color: #0086ca;
}
#close-dialog-permission-btn {
  color: #0086ca;
  font-size: 18px;
  cursor: pointer;
}
.item_permission {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.title_form {
  width: 30%;
  color: #969696;
  font-size: 14px;
}
.dialog_box_body_permission_form {
  padding: 30px 50px;
  height: 70%;
}
.content_form {
  width: 70%;
  font-size: 14px;
}
.button_option {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 50px;
  gap: 20px;
}
.button_option button {
  border: none;
  cursor: pointer;
  padding: 3px 25px;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
#accept_permission {
  background-color: #33db57;
}
#accept_permission:hover {
  background-color: #2fbb4d;
}
#reject_permission {
  background-color: #d84545;
}
#reject_permission:hover {
  background-color: #bd2828;
}
.status_waiting {
  color: #ffb74d;
}
.status_allow {
  color: #19d943;
}
.status_disallow {
  color: #bd2828;
}
.wrap-reason {
  height: 60%;
  padding: 3px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 4px;
  /* border: 1px solid #0086ca; */
  background: #f8f8f8;
}
.content_form {
  width: 100%;
  overflow: auto;
  max-height: 100%;
}
.content_form::-webkit-scrollbar {
  width: 0px;
}

.content_form::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content_form::-webkit-scrollbar-thumb {
  background: #888;
}

.content_form::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#myChart {
  width: 100%;
  padding: 0 5px;
}
/*--------------------- Dialog History Working----------------------- */
#dialog_overlay_history {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
#dialog_box_history {
  background-color: white;
  width: 50%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.dialog_box_head_history {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 20px;
  /* background-color: #cef6ef; */
  border-radius: 5px;
  height: 10%;
}
.head_name_history {
  font-size: 20px;
  color: #0086ca;
  font-weight: 500;
}
#close-dialog-history-btn {
  color: #969696;
  font-size: 18px;
  cursor: pointer;
}

.dialog_box_body_history {
  height: 80%;
  /* background-color: #2fbb4d; */
  margin: 20px 60px;
}
.wrap-date-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dialog_date_history {
  color: #1967d9;
  font-size: 13px;
  cursor: pointer;
}
.dialog_body_detail {
  width: 100%;
  height: 20%;
  background-color: #d2fff4;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 10px;
  border-radius: 5px;
}
.dialog_body_recognition {
  height: 70%;
  padding: 10px 0px;
}
.history_recognition_title {
  display: flex;
  width: 100%;
  justify-content: center;
}
.title_history {
  width: 20%;
  font-size: 13px;
  color: #1f739d;
  font-weight: 600;
  justify-content: center;
  display: flex;
}
.title_reco {
  width: 30%;
  font-size: 13px;
  color: #1f739d;
  font-weight: 600;
  justify-content: center;
  display: flex;
}
.img_history {
  width: 80px;
  height: 80px;
}
.history_time {
  font-size: 13px;
  font-weight: 600;
}
.history_shift {
  font-size: 11px;
  color: #b7b7b7;
}

.wrap_wrap {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
