:root{
    --introduce_name :#29306D;
    --introduce_descrip:rgba(67, 75, 140, 0.7);
    --bg-grey: #f5f7fa;
    --text-black: #4D4D4D;
    --text-light-black: #717171;
    --text-blue: #547AF6;
    --btn-blue: #3D8BFD;
    --btn-red: rgba(235, 18, 18, 0.7);
    --absent: rgba(235, 18, 18, 0.5);
    --ontime:rgba(80, 196, 255, 0.63);
    --late: rgba(231, 255, 84, 0.7);
    --light-blue: rgba(80, 196, 255, 0.2);
    --dialog-title:rgba(0, 0, 0, 0.6);
    --blue-table: rgba(80, 196, 255, 0.63);
    --input-search:rgba(80, 196, 255, 0.24);
    --btn-accept: #5CF06B;
}
/* #header{
    margin-bottom: 4rem;
 } */
 #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px;
    height: 70px; 
    line-height: 70px; 
}
.container {
    margin-top: 7rem; 
    padding-top: 20px; 
}
 .container_head{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
 }
.container_head_search {
    position: relative;
    display: inline-block;
}

.input_search {
    height: 1.5rem;
    padding-right: 2rem;
    border-radius: 20px;
    border: none;
    background: var(--input-search);
    outline: none;
}
.btn_search{
    position: absolute;
    top:50%;
    right:0.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--btn-blue);
}
#btn_addDepart{
    border-radius: 20px;
    border:none;
    background-color: var(--ontime);
    width: 8rem;
    height: 1.5rem;
    margin-right: 1rem;
}
.head_date{
    border: 1px solid var(--btn-blue);
    border-radius: 20px;
    color: var(--btn-blue);
    width: 8rem;
    text-align: center;
    height: 1.5rem;
}
/* Bang thong tin department */
.table-container {
    width: 80%; 
    border: 1px solid var(--btn-blue);
    border-radius: 20px; 
    overflow: auto;
    margin: 0 auto;
}
table {
    width: 100%; 
    border-collapse: collapse; 
    background: white;
}

thead {
    background-color: var(--blue-table); 
    color: black; 
    height: 2rem;
}

tbody {
    max-height: 10rem; 
    overflow-y: scroll; 
}
td{
    text-align: center;
}
.col_depart {
    width: 25%;
    text-align: center; 
    padding: 0.5rem;
}
.btn_edit, .btn_del{
    margin: 0 auto;
    width: 7rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    border-radius: 20px;
    color:white;
}
.btn_edit{
    background-color: #5CF06B;    
}
.btn_del{
    background-color: var(--btn-red);
}
.icon{
    width: 0.5rem;
}
#dialog_overlay{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;  
    /* backdrop-filter: blur(0.5px); */
  } 
  #dialog_box{
    background-color: white;
    width: 30rem;
    /* padding: 1.2rem; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 1px solid black;
  }
.dialog_box_head{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--input-search);
    border-radius: 20px;
    height: 4rem;
}
.head_name{
    font-size: 1.3rem;
}
.dialog_box_body{
    padding: 1rem 2rem;
}
.dialog_body_item{
    display: flex;
    margin-bottom: 1rem;
}
.dialog_body_item_tilte{
    margin-right: 3rem;
    width: 10rem;
}
.txt_timeRule, .txt_name{
    border: 1px solid  lightgray;
    border-radius: 10px;
}
.txt_timeRule:focus, .txt_name:focus{
    outline: none;
}
.dialog_box_body{
    margin-bottom: 2rem;
}
.add_department{
    color:var(--btn-blue);
    background-color: white;
    border: 1px solid var(--btn-blue);
    border-radius: 20px;
    padding: 0.3rem 0.7rem;
    position: absolute;
    right:1rem;
    bottom: 0.7rem;
}
#dialog_overlay_edit{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;  
    /* backdrop-filter: blur(0.5px); */
  } 
  #dialog_box_edit{
    background-color: white;
    width: 30rem;
    /* padding: 1.2rem; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 1px solid black;
  }
  #edit_department{
    color:var(--btn-blue);
    background-color: white;
    border: 1px solid var(--btn-blue);
    border-radius: 20px;
    padding: 0.3rem 0.7rem;
    position: absolute;
    right:1rem;
    bottom: 0.7rem;
}
.container_head_add_date input[type="date"]::-webkit-datetime-edit,
.container_head_add_date input[type="date"]::-webkit-inner-spin-button,
.container_head_add_date input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: var(--btn-blue);
    opacity: 1;
}
input[type="date"] {
    position: relative;
    width: 150px;
     height: 1.5rem;
    color: white;
    /* margin-top:0.5rem ; */
    outline: none;
    
}

input[type="date"]:before {
    position: absolute;
     left: 10px;
    content: attr(data-date);
    display: inline-block;
    color: var(--btn-blue);;
    
}
.container_head_add_date button,
.container_head_add_date input {
    vertical-align: middle;
}